{
  "presets": ["babel-preset-react-app"],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ],
    "babel-plugin-styled-components",
    "babel-plugin-import-graphql"
    // TODO: This needs to be deleted when we finish the migration to @graphql-codegen
  ]
}
