.root {
  padding: 48px 15vw;
}

.floated {
  position: sticky;
  top: 70vh;

  height: 0;
  width: 0;
  margin-left: 85vw;
  opacity: 0.6;
  z-index: 1;
}
.large {
  width: 5em;
  height: 5em;
}

.spacer {
  margin: 5px;
}
