.root {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-content: space-around;
  /* justify-content: space-between;  */
}

.column {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 32px 64px;
}
