.tabs {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}

.title {
  text-align: center;
}

.groupphoto {
  text-align: center;
  height: 400px;
}

.text {
  text-indent: 35px;
  font-size: 17px;
}
