:root {
  --mainHeight: calc(100vh - 64px - 64px - 50px);
}

.ant-carousel {
  text-align: center;
  height: var(--mainHeight);
  overflow: hidden;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: var(--mainHeight);
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  height: 6px;
  width: 25px;
}

.ant-carousel .slick-dots li.slick-active button {
  width: 40px;
}
